body{
    
    font-family: 'Times New Roman', Times, serif;
    background-color: darkorchid;
    margin: 0;
}

#title{
    color: darkblue;
    font-weight: bold;
    font-size: 40px;
    background-color:orchid;
    border-radius: 30px;
    text-align: center;
}


#description{
    font-weight: bold;
    font-style: italic;
    font-size: 20px;
    text-align: center;
    color: palegoldenrod;
}

#survey-form{
    background-color: darkslategrey;
    border-radius: 30px;
    margin: 0 auto;
    display: block;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
    max-width: 450px;
}

#name-label{
    
    color: white;
    padding-right: 2rem;
    margin: 10px;
    
}

#name{
    border-radius: 10px;
    padding: 10px;
    justify-content: center;
    margin: 10px;
    width: 90%;
    border:1px solid #111;
}


#email-label{
    color: white;
    padding-right: 2rem;
    margin: 10px;
}

#email{
    border-radius: 10px;
    padding: 10px;
    justify-content: center;
    margin: 10px;
    width: 90%;
    border:1px solid #111;
}

#number-label{
    color: white;
    padding-right: 2rem;
    margin: 10px;
}

#number{
    border-radius: 10px;
    padding: 10px;
    justify-content: center;
    margin: 10px;
    width: 90%;
    border:1px solid #111;
}

#dropdownl{
    color: white;
    padding-right: 2rem;
    margin: 10px;
}


#dropdown{

    border-radius: 10px;
    padding: 10px;
    justify-content: center;
    margin: 10px;
    width: 95%;
    border:1px solid #111;
    font-weight: bold;
}


#radioB{
    color: white;
    padding-right: 2rem;
    margin: 10px;
}

#d{
    color: white;
    font-weight: bold;
    font-family: sans-serif;
   
}
#m{
    color: white;
    font-weight: bold;
    font-family: sans-serif;
   
}

#n{
    color: white;
    font-weight: bold;
    font-family: sans-serif;
    
}

#dropdown1{
    color: white;
    padding-right: 2rem;
    margin: 10px;
}

#dropdown1o{
    border-radius: 10px;
    padding: 10px;
    justify-content: center;
    margin: 10px;
    width: 95%;
    border:1px solid #111;
    font-weight: bold;

}

#checkbox{
    color: white;
    padding-right: 2rem;
    margin: 10px;
}

#t{
    color: white;
    font-weight: bold;
    font-family: sans-serif;
   
}


#textbox1{
    color: white;
    padding-right: 2rem;
    margin: 10px;
}

#textboxo{
    border-radius: 10px;
    padding: 10px;
    justify-content: center;
    margin: 10px;
    width: 90%;
    border:1px solid #111;
}


#submit{
    text-align: center;
    background-color: darkorchid;
    border-radius: 2px;
    padding: 10px;
    color: white;
    font-size: 16px;
    width: 100%;
    display: block;

}